<h2>New User Registration Form</h2>


<form (submit)="review()">

 <div [hidden]="show">
    <label>First Name:</label>
    <input [(ngModel)]="registerUser.firstName" name="firtsName" type="text" required>
    <br>
    <label>Last Name:</label>
    <input [(ngModel)]="registerUser.lastName"  name="lastName" type="text" required>
    <br>
    <label>Email:</label>
    <input [(ngModel)]="registerUser.email"  name="email" type="email" required>
    <br>
    <br>
    <a (click)="firstPhase(registerUser)">Next</a>


 </div> 

 <div [hidden]="!show">
 <h4>Assign Permissions</h4>
 
 <checkbox-group [options]="availableRoles" (toggle)="onRolesChange($event)" (edit)="getUser($event)"></checkbox-group>



<br>

<button>Review</button>

</div>

</form>

<hr>



<div *ngIf="theError">
  Error: {{theError}}
</div>