<h2>New User Registration Form</h2>


<form (submit)="review()">

 <div [hidden]="show">
    <label>First Name</label>
    <input [(ngModel)]="registerUser.firstName" name="firtsName" type="text">
    <br>
    <label>Last Name</label>
    <input [(ngModel)]="registerUser.lastName"  name="lastName" type="text">
    <br>
    <label>Email</label>
    <input [(ngModel)]="registerUser.email"  name="email" type="text">
    <br>

    <a (click)="firstPhase(registerUser)">Next</a>


 </div> 

 <div [hidden]="!show">
 
  <fieldset>
  <legend>Assign Permissions</legend>


  <div>
      <label for="roles">Roles:</label>
      <div *ngFor="let role of availableRoles">
          <label>
              <input type="checkbox"
                     name="roles"
                     [value]="role.roleId"
                     [(ngModel)]="registerUser.roles"/>
              {{role.name}}
          </label>
      </div>
  </div>

</fieldset>
<br>

<button>Review</button>
</div>

</form>

<hr>



<div *ngIf="theError">
  Error: {{theError}}
</div>